body{
    margin: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center; /* Center the image */


  }


body.rtl {
  direction: rtl;
}

h1{
  color: #c5c5c5;
}

.book-modal{
  position: absolute;
}

.modal-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: space-around;
  background-color: rebeccapurple;



}
/**/


.books-card-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;

}

.cards-preview {
  background-color: white;
  width: 10%;
  margin:.5em;
  border: 1px solid lightgray;
  border-radius: .2em;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  
}
.car-preview .btn-remove {
  float:right;
}

.car-preview img {
  max-width: 50%;
}

.car-preview h5 {
  font-size: 1.4em;
  text-transform: capitalize;
  text-decoration: overline;
}

.car-preview h6 span{
  color: tomato;
  font-size: 2em;
}

.car-filter {
  background-color: indigo;
  padding: 10px;
  margin: 20px;
}
.filter-vendor-select {
  text-transform: capitalize;
}



/**/

/* preloader. remove if not using the preloader, or to break everything */




.continer{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.book-modal{
    width: 300px;
    height: 300px;
    background-color: red;

}

.display-none{
    display: none;
}



.table-show{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexo{
  display: flex;
  flex-direction: column;
}

.options{
  text-align: center;
}



  
  
.todo-filter ,.table-show{
    margin: 0.5rem 0;
}
  
.search-btn{
  margin: 0.5rem 0;

}
 
/* . {
  margin: 1rem 0;
} */



@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

p {
  width: 300px;
  text-align: left;
  margin-bottom: 30px;
}

.options {
  cursor: pointer;
  width: 300px;
  min-height: 60px;
  max-height: 300px;
  border-radius: 15px;
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 4px 8px #c5c5c5;
  transition: all 300ms;
}

.options.opened {
  overflow-y: scroll;
}

.option {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: all 300ms;
}

.option:nth-child(1) {
  border-radius: 15px;
}

.option:hover {
  background-color: brown;
  color: white;
}

.button {
  cursor: pointer;
  margin-top: 30px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 255, 112);
  color: #212121;
  font-weight: 600;
  box-shadow: 2px 4px 8px rgba(45, 87, 5, 0.247);
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 60px;
  position: absolute;
  right: -255px;
  bottom: 5vh;
  animation: showMessage ease-out 5s;
}

.message.success {
  background-color: rgb(184, 255, 112);
}

.message.danger {
  background-color: crimson;
}

@keyframes showMessage {
  0%,
  100% {
    right: -255px;
  }
  10% {
    right: 0;
  }
  90% {
    right: 0;
  }
}
